time_changed_barrier_option.xcodeproj/
.DS_Store
time_changed_barrier_option/csv_output
**/compile_commands.json
**/build
**/*.swp
**/*.swo
time_changed_barrier_option2/log/m002/.ipynb_checkpoints/
time_changed_barrier_option2/log/m002/log_log_plot.png
